name: "release"
on: # rebuild master branch changes
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read
jobs:
  deploy:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        operating-system: [ubuntu-latest, macOS-latest, windows-latest]
    steps:
    - uses: actions/checkout@v6
    - name: Azure login
      uses: azure/login@v2
      with:
        client-id: ${{ vars.AZURE_CLIENT_ID }}
        tenant-id: ${{ vars.AZURE_TENANT_ID }}
        subscription-id: ${{ vars.AZURE_SUBSCRIPTION_ID }}
    - uses: kheiakiyama/install-azcopy-action@v1
      with: 
        version: 'v10'
    - run: |
        azcopy --version | grep 'azcopy'
        azcopy_v10 --version | grep 'azcopy'
        which azcopy_v10
        touch testfile
        azcopy_v10 copy ./testfile https://$AZCOPY_TEST_STORAGE.blob.core.windows.net/$AZCOPY_TEST_CONTAINER/$AZCOPY_TEST_BLOB_DEST --overwrite=true
      env:
        AZCOPY_TEST_STORAGE: "installazcopyactiontest"
        AZCOPY_TEST_CONTAINER: "install-azcopy-action-flow-test"
        AZCOPY_TEST_BLOB_DEST: "testfile"
